html {
    color: navy;
    font-family: "zain";
}

body {
    background-color: rgb(244, 240, 215);
}

p {
    font-size: 1.27rem;
}

ol {
    font-size: 1.27rem;
}

h1 {
    font-size: 3.5rem;
     text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}
h3 {
    font-size: 2rem;
    padding-top: 6rem;
}
h5 {
    font-size: 1.4rem;
}

.round2 {
    border: 2px solid rgb(176, 209, 231);
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255, .70);

}

#begining {
    background-image: url('https://d3jkudlc7u70kh.cloudfront.net/summer-facts.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% 50%;

    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-right: 27rem;
    padding-left: 27rem;
    border: 0px solid rgb(255, 0, 0);

}

#intro {
    padding-right: 60rem;
}

#content {
    padding-top: 1.5rem;
}

.description {
    border: 0rem solid red;
    width: 30%;
    float: left;
    padding-left: 1rem;
}

.camp_photo {
    border: 0rem solid rgb(38, 0, 255);
    width: 30%;
    float: left;
}

.navbar {
    background-color: rgb(157, 150, 196);
    display: flex;
    justify-content: center;
    border-radius: 0.75em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10em;
    font-size: 1.25rem;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    transition: 0.3s;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.nav-links a:hover {
    background-color: rgb(86, 76, 142);
}

.title {
    text-align: center;
    padding: 1em;
    color: rgb(36, 36, 144);
}

.current {
    text-decoration: underline dotted rgb(86, 76, 142) 0.2em;
}

.accordion-header {
    width: 100%;
    background-color: rgb(157, 150, 196);
    border: none;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    transition: 0.8s;
}

.accordion-content {
    display: none;
}

.accordion-header:hover {
    background-color: rgb(102, 91, 166);
}
.table_camp {
    width :100%;
     border: 0rem solid rgb(0, 255, 115);
}
.hidden {
    display: none !important;
}
.blog-entry {
    display: flex;
    align-items: center;
    gap: 2em;
    padding-right: 2%;
    margin-bottom: 2em;
}
.blog-entry img {
    width:40%;
    border-radius: 0 1.5em 1.5em 0;
}

#enter-password {
    text-align: center;
}
#enter-password input {
    font-size: 1.5rem;
    border-radius: 0.5em;
    border: 0;
    padding: 0.2em;
    width: 40%;
    background-color: rgba(35, 97, 211, 0.4);
}
#enter-password button {
    font-size: 1.3rem;
    padding: 0.3em;
    border-radius: 0.5em;
    width: 7%;
    border: 0;
    background-color: rgba(35, 97, 211, 0.4);
    color: navy;

}

#password-field {
    display: flex;
    vertical-align: center;
    gap: 0.5em;
    justify-content: center;
}